:root {
  --shadow-color: 0deg 0% 4%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0.4vh;
}

html,
body {
  height: 100%;
}

body {
  
  background-color: rgb(255, 255, 255);
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  margin-top: 0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  /*gap: 20px;*/
  justify-content: center;
  align-items: center;
}

canvas {
    
  max-width: 100%;
  height: auto !important;
}

